ENVIRONMENT=development
PROJECT_NAME="Weather Explorer API"
API_V1_STR="/api/v1"

# Google Cloud Storage Configuration
# Replace these with your actual GCP details
GCS_BUCKET_NAME="your-bucket-name"
GCP_PROJECT_ID="your-project-id"

# Path to your Service Account JSON key (Required for local development)
# e.g., C:/Users/Smit/Downloads/service-account-key.json
GOOGLE_APPLICATION_CREDENTIALS="path/to/key.json"
